@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
   font-family: "EB Garamond", serif;
    
    }

body{font-family: 'EB Garamond', serif; 
}

.container-1 {
     
    position: fixed;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background: white;
    width: 100%;
    height: 8%;
    margin-top: 0;
    padding: 0%;
    top: 0;
    z-index: 10;
    
     
     }

.container-1 h1 {margin: 24px;}


a{text-decoration: none;
 color: black;}

 .anchor-margin{margin-bottom: 72px;}

 .anchor-margin-cap2{margin-bottom: 72px;}

 
      


 

.capital::first-letter {
    font-size: 3em;
    color: purple;
    float: left;            /* ¡Esto es clave para que el texto la contornee! */
    margin-right: 0.15em;   /* Espacio entre la letra y el texto */
    line-height: 1;         /* Ajusta la altura de la línea de la letra capital */
    font-weight: bold;
}

.subcontainer-1{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.container-2 .subcontainer-1 h3{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 38px;
    
}




.map-1{

    display: flex;
    justify-content: center;
    width: 100%;

}


.map-1 img {
    width: 576px;
    margin-top: 36px;
    padding: 12px;
}

.subcontainer-1 h3{
    font-size: 36px;
    padding: 24px;
    margin-top: 180px;

}

.subcontainer-1 p{
    padding: 120px;
    font-size: 22px;
    line-height: 1.5em;
    width: 72%;

}

.subcontainer-2{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



.subcontainer-2 h4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    font-size: 32px;
    margin-top: 180px;
    color: #800020;

}

.subcontainer-2 p{

    font-size: 24px;
    padding: 80px;
    line-height: 1.5em;
    width: 72%;

}

.pic-1   {display: flex;
            justify-content: center;
    width: 100%;
}


.pic-1 img {
    width: 576px;
    margin-top: 36px;
    padding: 12px;
}

.epi-1{
    display: flex;
    justify-content: center;
    width: 100%;
    }

.epi-1 p{

    width: 576px;
    padding: 6px;
    font-size: 18px;
     

}

.map-2{
    display: flex;
    justify-content: center;
    width: 100%;

}

.map-2 img {
    width: 576px;
    margin-top: 120px;
    padding: 12px;
}

.pic-2{
    display: flex;
    justify-content: center;
    width: 100%;

}


.pic-2 img {
    width: 576px;
    margin-top: 120px;
    padding: 12px;
}

.epi-2{
    display: flex;
    justify-content: center;
     
    }


.epi-2 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
     

}


.pic-3{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-3 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-3{display: flex;
    justify-content: center;}


  .epi-3 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}



.pic-4{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-4 img {
    width: 672px;
    margin-top: 120px;
    padding: 48px;
}

.epi-4{display: flex;
    justify-content: center;}


  .epi-4 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}


.pic-5{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-5 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-5{display: flex;
    justify-content: center;}


  .epi-5 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}



/**/

.subcontainer-3{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



.subcontainer-3 h4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    font-size: 32px;
    margin-top: 180px;
    color: #800020;

}

.subcontainer-3 p{

    font-size: 24px;
    padding: 80px;
    line-height: 1.5em;
    width: 72%;

}


.herodoto_1{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
}


.subcontainer-3 .herodoto_1{

    font-size: 24px;
    padding: 24px;
    line-height: 1.5em;
    width: 72%;
    color: #800020;

}


.subcontainer-3 .herodoto_1 h5{

    font-size: 28px;
    
}


.subcontainer-3 .herodoto_1 p{

    font-size: 22px;
    
}


.subcontainer-3 .herodoto_1 h6{

    font-size: 24px;
     
    
}




.map-3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 96px;

}


.map-3_bis{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 36px;

}

.subcontainer-3  .fotos-hidrografia-1{
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*.pic-6{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-6 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-6{display: flex;
    justify-content: center;}


  .epi-6 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}*/


.pic-6{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-6 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-6{display: flex;
    justify-content: center;}


  .epi-6 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-7{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-7 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-7{display: flex;
    justify-content: center;}


  .epi-7 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-8{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-8 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-8{display: flex;
    justify-content: center;}


  .epi-8 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-9{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-9 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-9{display: flex;
    justify-content: center;}


  .epi-9 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}

.pic-10{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-10 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-10{display: flex;
    justify-content: center;}


  .epi-10 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}

.pic-11{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-11 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-11{display: flex;
    justify-content: center;}


  .epi-11 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}


.pic-8{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-8 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-8{display: flex;
    justify-content: center;}


    .pic-9{

        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-9 img {
        width: 576px;
        margin-top: 120px;
        padding: 48px;
    }
    
    .epi-9{display: flex;
        justify-content: center;}
    
    
      .epi-9 p{
        width: 576px;
        padding: 6px;
        font-size: 18px;
    }

    .pic-12_a{

        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-12_a img {
        width: 576px;
        margin-top: 120px;
        padding: 6px;
    }
    



.pic-12_b{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-12_b img {
    width: 768px;
    margin-top: 12px;
    padding: 6px;
}

.epi-12{display: flex;
    justify-content: center;}


  .epi-12 p{
    width: 576px;
    padding: 12px;
    font-size: 18px;
}


.pic-13{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-13 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-13{display: flex;
    justify-content: center;}


  .epi-13 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}


.pic-14{

    display: flex;
    justify-content: center;
    width: 100%;
}

.pic-14 img {
    width: 576px;
    margin-top: 120px;
    padding: 48px;
}

.epi-14{display: flex;
    justify-content: center;}


  .epi-14 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
}
 

.subcontainer-4{


 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}



.subcontainer-4 h4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    font-size: 32px;
    margin-top: 180px;
    color: #800020;

}

.subcontainer-4 p{

    font-size: 24px;
    padding: 80px;
    line-height: 1.5em;
    width: 72%;
}


.fotosFlexSueloClima{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

/*recursos en rojo*/

.recursos_naturales_1{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 36px;
}


.subcontainer-4 .recursos_naturales_1{

    font-size: 24px;
    padding: 24px;
    line-height: 1.5em;
    width: 72%;
    color: #800020;

}


.subcontainer-4 .recursos_naturales_1 h5{

    font-size: 28px;
    
}


.subcontainer-4 .recursos_naturales_1 p{

    font-size: 22px;
    
}


.subcontainer-4 .recursos_naturales_1 span{

    font-size: 20px;
     
    
}




/**/



.pic-15{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-15 img {
    width: 476px;
    margin-top: 72px;
    padding: 48px;
    object-fit: cover;
}

.epi-15{display: flex;
    justify-content: center;}


  .epi-15 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-16{

    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-16 img {
    width: 476px;
    margin-top: 72px;
    padding: 48px;
    object-fit: cover;
}

.epi-16{display: flex;
    justify-content: center;}


  .epi-16 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-17{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-17 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-17{display: flex;
    justify-content: center;}


  .epi-17 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-18{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-18 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-18{display: flex;
    justify-content: center;}


  .epi-18 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

/* 19 */

.pic-19{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-19 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-19{display: flex;
    justify-content: center;}


  .epi-19 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-20{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-20 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-20{display: flex;
    justify-content: center;}


  .epi-20 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-21{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-21 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-21{display: flex;
    justify-content: center;}


  .epi-21 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-22{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-22 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-22{display: flex;
    justify-content: center;}


  .epi-22 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-23{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-23 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-23{display: flex;
    justify-content: center;}


  .epi-23 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-24{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-24 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-24{display: flex;
    justify-content: center;}


  .epi-24 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-25{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-25 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-25{display: flex;
    justify-content: center;}


  .epi-25 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-26{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-26 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-26{display: flex;
    justify-content: center;}


  .epi-26 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-27{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-27 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-27{display: flex;
    justify-content: center;}


  .epi-27 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.subcontainer-5{


 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.la_geografia_1{display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;}


.la_geografia_1  h4{
    
    font-size: 32px;
    margin-top: 180px;
    color: #800020;
    text-align: center;

}

.subcontainer-5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

.subcontainer-5 p{

    font-size: 24px;
    padding: 80px;
    line-height: 1.5em;
    width: 72%;
     
    
}


.fotosGeografia{
                display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;

}

.pic-28{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-28 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-28{display: flex;
    justify-content: center;}


  .epi-28 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-29{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-29 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-29{display: flex;
    justify-content: center;}


  .epi-29 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.pic-30{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 480px;
}

.pic-30 img {
    width: 476px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-30{display: flex;
    justify-content: center;}


  .epi-30 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.anchor-margin-cap2{margin-top: 72px;}

.subcontainer-6{


 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}

.subcontainer-6 h3{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 36px;
    padding: 6px;
    margin-top: 24px;
   
    
}

.subcontainer-6 h3{

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 38px;
    
}

.subcontainer-7{


 display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    
}



 .testimonios-prehistoria  h4{
    
    font-size: 32px;
    margin-top: 180px;
    color: #800020;
    margin-bottom: 24px;

}

.subcontainer-7 p{

    font-size: 24px;
    padding: 80px;
    line-height: 1.5em;
    width: 72%;
    
}
 
.pic-31{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
     padding: 56px;
}

.pic-31 img {
    width: 50%;
    
    margin-top: 72px;;
    object-fit: cover;
   
}
 
.epi-31{display: flex;
    justify-content: center;
   }


  .epi-31 p{
    width: 576px;
    padding: 6px;
    font-size: 18px;
    
}

.pic-32{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.pic-32 img {
    width: 676px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-32{display: flex;
    justify-content: center;}


  .epi-32 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-33{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.pic-33 img {
    width: 576px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-33{display: flex;
    justify-content: center;}


  .epi-33 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}

.pic-34{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.pic-34 img {
    width: 676px;
    margin-top: 72px;;
    padding: 48px;
    object-fit: cover;
}

.epi-34{display: flex;
    justify-content: center;}


  .epi-34 p{
    width: 376px;
    padding: 6px;
    font-size: 18px;
}


.subcontainer-9{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
}

.excavacionesAreni-1{

    width: 100%;
    height: 48px;
    background-color: rgb(175, 131, 74);
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.excavacionesAreni-1 h3{
    font-size: 28px;
    color: white;
    
}

.AreniText-1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.subcontainer-9 .AreniText-1 p{ width: 80%;
                                font-size: 24px;
                                 padding: 12px;
                                line-height: 1.5em;}



@media screen and (max-width: 768px) {
   

    .subcontainer-1{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
    }
    
    
    .map-1{
    
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    
    .map-1 img {
        width: 96%;
        margin-top: 60px;
        padding: 12px;
         
    }
    
    .subcontainer-1 h3{
        font-size: 28px;
        padding: 24px;
        margin-top: 120px;
    
    }
    
    .subcontainer-1 p{
        width: 80%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
    
    }
    
    .subcontainer-2{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .subcontainer-2 h4{
         
        font-size: 28px;
        padding: 22px;
        margin-top: 60px;
    
    }
    
    .subcontainer-2 p{
        width: 80%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
    
    }
    
    .pic-1   {display: flex;
                justify-content: center;
        width: 100%;
    }
    
    
    .pic-1 img {
        width: 80%;
        margin-top: 36px;
        padding: 12px;
    }
    
    .epi-1{
        display: flex;
        justify-content: center;
        width: 100%;
        }
    
    .epi-1 p{
    
        width: 80%;
        padding: 6px;
        font-size: 18px;
         
    
    }
    
    .map-2{
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    .map-2 img {
        width: 96%;
        margin-top: 120px;
        padding: 12px;
    }
    
    .pic-2{
        display: flex;
        justify-content: center;
        width: 100%;
    
    }
    
    
    .pic-2 img {
        width: 80%;
        margin-top: 120px;
        padding: 12px;
    }
    
    .epi-2{
        display: flex;
        justify-content: center;
        width: 100%;
         
        }
    
    
    .epi-2 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
         
    
    }
    
    
    .pic-3{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-3 img {
        width: 80%;
        margin-top: 120px;
        padding: 48px;
    }
    
    .epi-3{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-3 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    
    }

    .pic-4{

        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-4 img {
        width:100%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-4{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-4 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }
    
    
    .pic-5{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-5 img {
        width: 80%;
        margin-top: 120px;
        padding: 48px;
    }
    
    .epi-5{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-5 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .subcontainer-3 h4{
        font-size: 28px;
        padding: 22px;
        margin-top: 60px;
        color: #800020;

        
    
    }
    
    .subcontainer-3 p{
    
        width: 80%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
    
    }

    .herodoto_1{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 12px;
    }
    
    
    .subcontainer-3 .herodoto_1{
    
        font-size: 24px;
        padding: 24px;
        line-height: 1.5em;
        width: 86%;
        color: #800020;
    
    }
    
    
    .subcontainer-3 .herodoto_1 h5{
        text-align: center;
        font-size: 22px;
        padding: 22px;
        margin-top: 60px;
        color: #800020;
        
    }
    
    
    .subcontainer-3 .herodoto_1 p{
    
         
        width: 90%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
        
    }
    
    
    .subcontainer-3 .herodoto_1 span{
    
        font-size: 20px;
        padding: 24px;
        margin-top: 12px;
        color: #800020;
         
        
    }

    .map-3{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 36px;
    
    }
    
    
    .map-3_bis{
        display: flex;
        justify-content: center;
        width: 96%;
        margin-top: 12px;
    
    }

    .map-3 img {
        width: 96%;
       
        padding: 12px;
    }

    .map-3_bis img {
        width: 96%;
        
        padding: 24px;
    }

    .subcontainer-4 h4{
        font-size: 28px;
        padding: 22px;
        margin-top: 60px;
        color: #800020;

        
    
    }


    .subcontainer-4 p{
    
        width: 80%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
    
    }


    .pic-6{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-6 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-6{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-6 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
        
    }


    .pic-7{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-7 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-7{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-7 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }


    .pic-8{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-8 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-8{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-8 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-9{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-9 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-9{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-9 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-10{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-10 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-10{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-10 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-11{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-11 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-11{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-11 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-12_a{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-12_a img {
        width: 80%;
        margin-top: 120px;
        padding: 12px;
    }
    
    .epi-12_a{display: flex;
        justify-content: center;
        width: 100%;}


        .pic-12_b{
    
            display: flex;
            justify-content: center;
            width: 100%;
        }
        
        .pic-12_b img {
            width: 80%;
            margin-top: 24px;
            padding: 12px;
        }
        
        .epi-12_b{display: flex;
            justify-content: center;
            width: 100%;}
    
    
      .epi-12 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-13{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-13 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-13{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-13 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-14{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-14 img {
        width: 80%;
        margin-top: 120px;
        padding: 24px;
    }
    
    .epi-14{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-14 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }


    .recursos_naturales_1{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 12px;
    }
    
    
    .subcontainer-4 .recursos_naturales_1{
    
        font-size: 24px;
        padding: 24px;
        line-height: 1.5em;
        width: 86%;
        color: #800020;
    
    }
    
    
    .subcontainer-4 .recursos_naturales_1 h5{
        text-align: center;
        font-size: 22px;
        padding: 22px;
        margin-top: 60px;
        color: #800020;
        
    }
    
    
    .subcontainer-4 .recursos_naturales_1 p{
    
         
        width: 90%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
        
    }
    
    
    .subcontainer-4 .recursos_naturales_1 span{
    
        font-size: 20px;
        padding: 24px;
        margin-top: 12px;
        color: #800020;
         
        
    }

    .pic-15{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-15 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-15{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-15 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }


    .pic-16{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-16 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-16{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-16 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }


    .pic-17{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-17 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-17{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-17 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-18{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-18 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-18{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-18 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    /* 19 */

    .pic-19{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-19 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-19{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-19 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }


    .pic-20{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-20 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-20{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-20 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-21{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-21 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-21{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-21 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-22{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-22 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-22{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-22 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-23{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-23 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-23{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-23 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-24{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-24 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-24{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-24 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-25{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-25 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-25{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-25 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-26{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-26 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-26{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-26 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-27{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-27 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-27{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-27 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

     
    .subcontainer-5{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 12px;
}

.la_geografia_1 {display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;}

.la_geografia_1  h4{
   
        font-size: 28px;
        padding: 22px;
        margin-top: 60px;
        color: #800020;

}

.subcontainer-5 p{

   width: 90%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
        
}

.pic-28{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-28 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-28{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-28 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .pic-29{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-29 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-29{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-29 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }


    .pic-30{
    
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .pic-30 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-30{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-30 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

    .subcontainer-6{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 12px;
    } 

        .subcontainer-7{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 12px;
    }

       .testimonios-prehistoria {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 12px;
    }

    

   .testimonios-prehistoria h4{


        text-align: center;
        font-size: 28px;
        padding: 22px;
        margin-top: 60px;
        color: #800020;
        margin: 0;

        
    }
    

        .subcontainer-7 p{
        width: 80%;
        font-size: 18px;
        padding: 12px;
        line-height: 1.5em;
    }
    


    .pic-31 img {
        width: 90%;
    height: 100%;
    margin-top: 72px;;
    object-fit: cover;
    
    }
    
       .epi-31{display: flex;
        justify-content: center;
        width: 100%;
        
    }
    
    
      .epi-31 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
        
    }

    /*
    .pic-31{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 900px;
     padding: 56px;
}

.pic-31 img {
    width: 50%;
    
    margin-top: 72px;;
    object-fit: cover;
   
}
    */

    .pic-32 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-32{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-32 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

        .pic-33 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-33{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-33 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }

        .pic-34 img {
        width: 80%;
        margin-top: 72px;
        padding: 24px;
    }
    
    .epi-34{display: flex;
        justify-content: center;
        width: 100%;}
    
    
      .epi-34 p{
        width: 80%;
        padding: 6px;
        font-size: 18px;
    }
}