@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');


*{
    font-family: 'dosis', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,0.62,1.08);
     

}



@media (max-width: 650px) {
    /* Estilos CSS que se aplicarán cuando el ancho de la pantalla
       (o el viewport) sea de 1000 píxeles o más */
  
     body{width: 100%;}

     .map-1{
        width: 100%; 
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6px; 
        
    }

    .map-1 img{width: 96%;
         
                object-fit: contain;} 

  }