@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap');

:root{

    --peru:#cd9472;
    --black:#222;
    --white:#fff;
    ---light-black:#666;
    --light-white:#ccc;
    --light-bg:#f5f5f5;
    --dark-bg:rgba(0,0,0,0.7);
    --border:.1rem solid #aaa;
    --box-shadow:0 0.5rem 1rem rgba(0,0,0,0.1);


}

*{
    font-family: 'dosis', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: all 0.4s cubic-bezier(.43,1.1,0.62,1.08);
     

}

 
 
html {

    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {

    width: 1rem;

}

html::-webkit-scrollbar-track {

    background-color: var(--white);

}

html::-webkit-scrollbar-thumb {

    background-color: var(--peru);

}

section{

    padding: 5rem 10%;

}

.content{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
}

.icon-1 img{width: 30vw;
    margin: 48px;}

.separation-line{
    width: 50vw;
    border-top: 1px solid rgb(142, 142, 142);
    margin-top: 24px;
    margin-bottom: 48px;
}

.separation-line-red {
     
    width: 54vw;
    height: 650px;
    border-top: 2px solid rgb(158, 8, 8);
    border-left: 2px solid rgb(158, 8, 8);;
    margin-top: 24px;
    margin-bottom: 48px;
    padding: 24px;
}

.destacados-titulo{
    font-size: 44px;
}

.destacados-autor{
    font-size: 24px;
}



.comments{display: flex;
        flex-direction: column;
         
        align-items: center;
        margin-top: 60px;
        margin-bottom: 100px;
}


.separation-line-red p   {color: rgb(158, 8, 8) ;}
.separation-line-red h4 {color: rgb(158, 8, 8) ;}


p {
    width: 50vw;
    display: block;
    font-size: 24px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 1.8 ;
    margin: 48px;
    text-align: justify;
}



.map-1 img{width: 50vw;
    margin: 48px;
    margin-bottom: 36px;}



 .ampliar-map{font-size: 24px;
    background: #dbdbdb;
    padding: 12px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.08);
    text-decoration: none;
    color: #222;
    margin-top: 12px;
    margin-bottom: 120px;
}

.ampliar-map a{color: #222;}


 .ampliar-map:hover{transition: color 0.3s ease-in-out;} 

.tittle-1{font-size: 36px;
            margin-top: 48px;}

.foto-1 img{
    width: 35vw;
    margin: 48px;
}

.map-2 img{width: 80%;
    margin: 48px;
    margin-bottom: 10px;}


.foto-2 img{
    width: 35vw;
    margin: 48px;
}

.foto-3 img{
    width: 35vw;
    margin: 48px;
}



.foto-4 img{
    width: 35vw;
    margin: 48px;
}

.foto-5 img{
    width: 35vw;
    margin: 48px;
}

.foto-35 img{
    width: 35vw;
    margin: 48px;
}


.foto-6 img{
    width: 50vw;
    margin-top: 24px;
    margin-bottom: 18px;
}

.explic-mapa-3{
    width: 24vw;
    margin-top: 12px;
    margin-bottom: 96px;
}


.foto-7 img{
    width: 45vw;
    margin: 48px;
}

.foto-8 img{
    width: 45vw;
    margin: 48px;
}

.foto-9 img{
    width: 45vw;
    margin: 48px;
}

.foto-10 img{
    width: 45vw;
    margin: 48px;
}

.foto-11 img{
    width: 45vw;
    margin: 48px;
}

.foto-12a img{
    width: 45vw;
    margin: 48px;
}

.foto-12b img{
    width: 60vw;
    margin: 48px;
}

.foto-12b  {
    margin-top: 60px;
}

.foto-12b  {
    margin-top: 60px;
}
.foto-12b  {
    margin-top: 60px;
}

.foto-13  {
    margin-top: 60px;
}
.foto-13 img{
    width: 45vw;
    margin: 48px;
}
.foto-14 img{
    width: 45vw;
    margin: 48px;
}
 
.foto-15  {
    margin-top: 60px;
}
.foto-15 img{
    width: 45vw;
    margin: 48px;}

    .foto-16  {
        margin-top: 60px;
    }
    .foto-16 img{
        width: 45vw;
        margin: 48px;}

        .foto-17  {
            margin-top: 60px;
        }
        .foto-17 img{
            width: 45vw;
            margin: 48px;}

            .foto-18  {
                margin-top: 60px;
            }
            .foto-18 img{
                width: 45vw;
                margin: 48px;}

                .foto-19  {
                    margin-top: 60px;
                }
                .foto-19 img{
                    width: 45vw;
                    margin: 48px;}

                    .foto-20  {
                        margin-top: 60px;
                    }
                    .foto-20 img{
                        width: 45vw;
                        margin: 48px;}


                        .foto-21  {
                            margin-top: 60px;
                        }
                        .foto-21 img{
                            width: 45vw;
                            margin: 48px;}

                            .foto-22  {
                                margin-top: 60px;
                            }
                            .foto-22 img{
                                width: 45vw;
                                margin: 48px;}
            
                                .foto-23  {
                                    margin-top: 60px;
                                }
                                .foto-23 img{
                                    width: 45vw;
                                    margin: 48px;}
            
            
                                    .foto-24  {
                                        margin-top: 60px;
                                    }
                                    .foto-24 img{
                                        width: 45vw;
                                        margin: 48px;}

                                        .foto-25  {
                                            margin-top: 60px;
                                        }
                                        .foto-25 img{
                                            width: 45vw;
                                            margin: 48px;}

                                            .foto-26  {
                                                margin-top: 60px;
                                            }
                                            .foto-26 img{
                                                width: 45vw;
                                                margin: 48px;}

                                                .foto-27  {
                                                    margin-top: 60px;
                                                    
                                                }
                                                .foto-27 img{
                                                    width: 45vw;
                                                    margin: 48px;}

                                                    .foto-28  {
                                                        margin-top: 60px;
                                                    }
                                                    .foto-28 img{
                                                        width: 45vw;
                                                        margin: 48px;}

                                                        .foto-29  {
                                                            margin-top: 60px;
                                                        }
                                                        .foto-29 img{
                                                            width: 45vw;
                                                            margin: 48px;}

                                                            .foto-30  {
                                                                margin-top: 60px;
                                                            }
                                                            .foto-30 img{
                                                                width: 45vw;
                                                                margin: 48px;}
    



.epigr-1{width: 35vw;
            display: flex;
            flex-direction: row;
            margin-top: -84px;


}

.epigr-1 p{
            font-size: 18px;
          font-weight: 700;
         
         text-align: center;
        }



.map-2 img{width: 40vw;
            margin: 96px;}

.heading{

    text-align: center;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    
}

.heading span{

     font-size: 2.5rem;
     color: var(--black);
}

.heading h3{

    font-size: 4.5rem;
    color: var(--peru);
}



.btn{

    margin-top: 1rem;
    display: inline-block;
    background: var(--peru);
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    padding: 1rem 3rem;

}

.btn:hover{
    letter-spacing: .0rem;

}

.header{

    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: var(--box-shadow);
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;

}

.header .logo{

    font-size: 2.5rem;
    font-weight: bolder;
    color:var(--black)

}

.header .logo i{

    color: var(--peru);
    padding-right: 0.5rem;

}

.header .navbar a{

    font-size: 2rem;
    margin-left: 2rem;
    color:var(--light-black);

}

.header .navbar a:hover{

    color:var(--peru);

}

#menu-btn {

    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black);
    display: none;

}


/*TABLET A*/
/*TABLET A*/
/*TABLET A*/
/*TABLET A*/
/*TABLET A*/
/*TABLET A*/
/*TABLET A*/
/*TABLET A*/

@media (max-width: 1200px) {
    /* Estilos CSS que se aplicarán cuando el ancho de la pantalla
       (o el viewport) sea de 1000 píxeles o más */
  
     body{width: 100%;}

       .content{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        overflow-x: hidden;
    }

    
.header{
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    box-shadow: var(--box-shadow);
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;

}

    .icon-1 img{width: 65vw;
        margin: 12px;
        margin-bottom: 60px;}
  
        .separation-line{
            width: 50%;
            border-top: 1px solid rgb(142, 142, 142);
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .tittle-1{font-size: 36px;
            margin-top: 24px;
        margin-bottom: 24px;}
     
        p {
            width: 95%;
            display: block;
            font-size: 22px;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
            line-height: 1.6 ;
            margin: 6px;
            text-align: justify;
        }

        .map-1 img{width: 70vw;
            margin-top: 48px;
            margin-bottom: 48px;}


            .foto-1 img{
                width: 65vw;
                margin: 36px;
            }

            .epigr-1{width: 60vw;
                display: flex;
                flex-direction: row;
                margin-top: -36px;
                padding: 12px;
    
    
    }
            
            .epigr-1 p{
                font-size: 18px;
              font-weight: 500;
             
             text-align: center;
            }
     
            .map-2 img{width: 70vw;
                margin-top: 72px;
                margin-bottom: 48px;}

                .foto-2{margin-top: 48px;}

                .foto-2 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-3{margin-top: 48px;}

                .foto-3 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-4{margin-top: 48px;}

                .foto-4 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-5{margin-top: 48px;}

                .foto-5 img{
                    width: 65vw;
                    margin: 36px;
                }

                .separation-line{
                    width: 50%;
                    border-top: 1px solid rgb(142, 142, 142);
                    margin-top: 120px;
                    margin-bottom: 24px;
                }

                .comments{display: flex;
                    flex-direction: column;
                     
                    align-items: center;
                    margin-top: 60px;
                    margin-bottom: 30px;
            }
                .separation-line-red {
             
                    width: 70vw;
                    height: 600px;
                    border-top: 2px solid rgb(158, 8, 8);
                    border-left: 2px solid rgb(158, 8, 8);;
                    margin-top: 24px;
                    margin-bottom: 48px;
                    padding: 24px;
                }

                .destacados-titulo{
                    font-size: 36px;
                    margin-bottom: 24px;
                }
                
                .destacados-autor{
                    font-size: 24px;
                    margin-top: 24px;
                }
               

                .foto-35{margin-top: 48px;}

                .foto-35 img{
                    width: 65vw;
                    margin: 36px;
                }

                .explic-mapa-3{

                    width: 124vw;
                     margin: 12px;
                    padding: 60px;
                }

                .foto-7{margin-top: 48px;}

                .foto-7 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-8{margin-top: 48px;}

                .foto-8 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-9{margin-top: 48px;}

                .foto-9 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-10{margin-top: 48px;}

                .foto-10 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-11{margin-top: 48px;}

                .foto-11 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-12a{margin-top: 48px;}

                .foto-12a img{
                    width: 65vw;
                    margin: 36px;
                }
                .foto-12b{margin-top: 48px;}

                .foto-12b img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-13{margin-top: 48px;}

                .foto-13 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-14{margin-top: 48px;}

                .foto-14 img{
                    width: 65vw;
                    margin: 36px;
                }
                .foto-15{margin-top: 48px;}

                .foto-15 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-16{margin-top: 48px;}

                .foto-16 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-17{margin-top: 48px;}

                .foto-17 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-18{margin-top: 48px;}

                .foto-18 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-19{margin-top: 48px;}

                .foto-19 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-20{margin-top: 48px;}

                .foto-20 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-21{margin-top: 48px;}

                .foto-21 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-22{margin-top: 48px;}

                .foto-22 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-23{margin-top: 48px;}

                .foto-23 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-24{margin-top: 48px;}

                .foto-24 img{
                    width: 65vw;
                    margin: 36px;
                } 
                .foto-25{margin-top: 48px;}

                .foto-25 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-26{margin-top: 48px;}

                .foto-26 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-27{margin-top: 48px;}

                .foto-27 img{
                    width: 65vw;
                    margin: 36px;
                } 
                .foto-28{margin-top: 48px;}

                .foto-28 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-29{margin-top: 48px;}

                .foto-29 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-30{margin-top: 48px;}

                .foto-30 img{
                    width: 65vw;
                    margin: 36px;
                } 

                

                
  }

/*TABLET B*/
/*TABLET B*/
/*TABLET B*/
/*TABLET B*/
/*TABLET B*/
/*TABLET B*/
/*TABLET B*/
/*TABLET B*/

@media (max-width: 820px) {
    /* Estilos CSS que se aplicarán cuando el ancho de la pantalla
       (o el viewport) sea de 1000 píxeles o más */
  
     body{width: 100%;}

       .content{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        overflow-x: hidden;
    }

    
.header{
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    box-shadow: var(--box-shadow);
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;

}

    .icon-1 img{width: 65vw;
        margin: 12px;
        margin-bottom: 60px;}
  
        .separation-line{
            width: 50%;
            border-top: 1px solid rgb(142, 142, 142);
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .tittle-1{font-size: 36px;
            margin-top: 24px;
        margin-bottom: 24px;}
     
        p {
            width: 95%;
            display: block;
            font-size: 22px;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
            line-height: 1.6 ;
            margin: 6px;
            text-align: justify;
        }

        .map-1 img{width: 70vw;
            margin-top: 48px;
            margin-bottom: 48px;}


            .foto-1 img{
                width: 65vw;
                margin: 36px;
            }

            .epigr-1{width: 60vw;
                display: flex;
                flex-direction: row;
                margin-top: -36px;
                padding: 12px;
    
    
    }
            
            .epigr-1 p{
                font-size: 18px;
              font-weight: 500;
             
             text-align: center;
            }
     
            .map-2 img{width: 70vw;
                margin-top: 72px;
                margin-bottom: 48px;}

                .foto-2{margin-top: 48px;}

                .foto-2 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-3{margin-top: 48px;}

                .foto-3 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-4{margin-top: 48px;}

                .foto-4 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-5{margin-top: 48px;}

                .foto-5 img{
                    width: 65vw;
                    margin: 36px;
                }

                .separation-line{
                    width: 50%;
                    border-top: 1px solid rgb(142, 142, 142);
                    margin-top: 120px;
                    margin-bottom: 24px;
                }

                .comments{display: flex;
                    flex-direction: column;
                     
                    align-items: center;
                    margin-top: 60px;
                    margin-bottom: 30px;
            }
                .separation-line-red {
             
                    width: 70vw;
                    height: 720px;
                    border-top: 2px solid rgb(158, 8, 8);
                    border-left: 2px solid rgb(158, 8, 8);;
                    margin-top: 24px;
                    margin-bottom: 48px;
                    padding: 24px;
                }

                .destacados-titulo{
                    font-size: 28px;
                    margin-bottom: 24px;
                }
                
                .destacados-autor{
                    font-size: 22px;
                    margin-top: 24px;
                }


                .foto-35{margin-top: 48px;}

                .foto-35 img{
                    width: 65vw;
                    margin: 36px;
                }

                .explic-mapa-3{

                    width: 124vw;
                     margin: 12px;
                    padding: 60px;
                }

                .foto-7{margin-top: 48px;}

                .foto-7 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-8{margin-top: 48px;}

                .foto-8 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-9{margin-top: 48px;}

                .foto-9 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-10{margin-top: 48px;}

                .foto-10 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-11{margin-top: 48px;}

                .foto-11 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-12a{margin-top: 48px;}

                .foto-12a img{
                    width: 65vw;
                    margin: 36px;
                }
                .foto-12b{margin-top: 48px;}

                .foto-12b img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-13{margin-top: 48px;}

                .foto-13 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-14{margin-top: 48px;}

                .foto-14 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-15{margin-top: 48px;}

                .foto-15 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-16{margin-top: 48px;}

                .foto-16 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-17{margin-top: 48px;}

                .foto-17 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-18{margin-top: 48px;}

                .foto-18 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-19{margin-top: 48px;}

                .foto-19 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-20{margin-top: 48px;}

                .foto-20 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-21{margin-top: 48px;}

                .foto-21 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-22{margin-top: 48px;}

                .foto-22 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-23{margin-top: 48px;}

                .foto-23 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-24{margin-top: 48px;}

                .foto-24 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-25{margin-top: 48px;}

                .foto-25 img{
                    width: 65vw;
                    margin: 36px;
                } 
                .foto-26{margin-top: 48px;}

                .foto-26 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-27{margin-top: 48px;}

                .foto-27 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-28{margin-top: 48px;}

                .foto-28 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-29{margin-top: 48px;}

                .foto-29 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-30{margin-top: 48px;}

                .foto-30 img{
                    width: 65vw;
                    margin: 36px;
                } 

             


  }


/*CELULAR*/ 
/*CELULAR*/ 
/*CELULAR*/ 
/*CELULAR*/ 
/*CELULAR*/ 
/*CELULAR*/ 
/*CELULAR*/ 


@media (max-width: 650px) {
    /* Estilos CSS que se aplicarán cuando el ancho de la pantalla
       (o el viewport) sea de 1000 píxeles o más */
  
     body{width: 100%;}

       .content{
        width: 100%; 
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        overflow-x: hidden;
    }

    
.header{
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    box-shadow: var(--box-shadow);
    position: sticky;
    top:0;
    left:0;
    right: 0;
    background-color: var(--white);
    z-index: 1000;

}

    .icon-1 img{width: 65vw;
        margin: 12px;
        margin-bottom: 60px;}
  
        .separation-line{
            width: 50%;
            border-top: 1px solid rgb(142, 142, 142);
            margin-top: 24px;
            margin-bottom: 24px;
        }

        .tittle-1{font-size: 36px;
            margin-top: 24px;
        margin-bottom: 24px;}
     
        p {
            width: 95%;
            display: block;
            font-size: 22px;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
            unicode-bidi: isolate;
            line-height: 1.6 ;
            margin: 6px;
            text-align: justify;
        }


        .comments{display: flex;
            flex-direction: column;
             
            align-items: center;
            margin-top: 60px;
            margin-bottom: 30px;
    }
        .separation-line-red {
     
            width: 70vw;
            height: 1380px;
            border-top: 2px solid rgb(158, 8, 8);
            border-left: 2px solid rgb(158, 8, 8);;
            margin-top: 24px;
            margin-bottom: 72px;
            padding: 24px;
        }
        
        
            .destacados-titulo{
            font-size: 28px;
            margin-bottom: 24px;
          }

            .destacados-autor{
             font-size: 22px;
             margin-top: 24px;
            }

        .map-1 img{width: 70vw;
            margin-top: 48px;
            margin-bottom: 48px;}


            .foto-1 img{
                width: 65vw;
                margin: 36px;
            }

            .epigr-1{width: 60vw;
                display: flex;
                flex-direction: row;
                margin-top: -36px;
                padding: 12px;
    
    
    }
            
            .epigr-1 p{
                font-size: 18px;
              font-weight: 500;
             
             text-align: center;
            }
     
            .map-2 img{width: 70vw;
                margin-top: 72px;
                margin-bottom: 48px;}

                .foto-2{margin-top: 48px;}

                .foto-2 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-3{margin-top: 48px;}

                .foto-3 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-4{margin-top: 48px;}

                .foto-4 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-5{margin-top: 48px;}

                .foto-5 img{
                    width: 65vw;
                    margin: 36px;
                }

                .separation-line{
                    width: 50%;
                    border-top: 1px solid rgb(142, 142, 142);
                    margin-top: 120px;
                    margin-bottom: 24px;
                }

                .foto-35{margin-top: 48px;}

                .foto-35 img{
                    width: 65vw;
                    margin: 36px;
                }

                .explic-mapa-3{

                    width: 124vw;
                     margin: 12px;
                    padding: 60px;
                }

                .foto-7{margin-top: 48px;}

                .foto-7 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-8{margin-top: 48px;}

                .foto-8 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-9{margin-top: 48px;}

                .foto-9 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-10{margin-top: 48px;}

                .foto-10 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-11{margin-top: 48px;}

                .foto-11 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-12a{margin-top: 48px;}

                .foto-12a img{
                    width: 65vw;
                    margin: 36px;
                }
                .foto-12b{margin-top: 48px;
                            display: none;}

                .bannear{
                    display: none
                }

                .foto-12b img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-13{margin-top: 60px;}

                .foto-13 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-14{margin-top: 48px;}

                .foto-14 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-15{margin-top: 48px;}

                .foto-15 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-16{margin-top: 48px;}

                .foto-16 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-17{margin-top: 48px;}

                .foto-17 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-18{margin-top: 48px;}

                .foto-18 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-19{margin-top: 48px;}

                .foto-19 img{
                    width: 65vw;
                    margin: 36px;
                }
                .foto-20{margin-top: 48px;}

                .foto-20 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-21{margin-top: 48px;}

                .foto-21 img{
                    width: 65vw;
                    margin: 36px;
                }

                .foto-22{margin-top: 48px;}

                .foto-22 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-23{margin-top: 48px;}

                .foto-23 img{
                    width: 65vw;
                    margin: 36px;
                }
   
                .foto-24{margin-top: 48px;}

                .foto-24 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-25{margin-top: 48px;}

                .foto-25 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-26{margin-top: 48px;}

                .foto-26 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-27{margin-top: 48px;}

                .foto-27 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-28{margin-top: 48px;}

                .foto-28 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-29{margin-top: 48px;}

                .foto-29 img{
                    width: 65vw;
                    margin: 36px;
                } 

                .foto-30{margin-top: 48px;}

                .foto-30 img{
                    width: 65vw;
                    margin: 36px;
                } 
   
   
   
   
  }